/*MAKESHIFT DARKTHEME*/
/*MAKESHIFT DARKTHEME*/

.root {
    -MAINGREY: #1C1C1C; /*DARK GREY*/
    -LIGHTGREY: #8C8C8C; /*LIGHT GREY*/
    -ACCENT: #FFBD59; /*BEIGE CREAM*/
    -TERTIARY: #010012; /*DARK NAVY*/
}

.root * {
    -fx-font-family: "Arial";
}

.background {
    -fx-background-color: derive(-MAINGREY, 20%);
    background-color: -MAINGREY; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(-LIGHTGREY, 20%);
}

.list-view.scrollbar:vertical {
    -fx-scale-x: 0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 10 10 10 10;
}

.list-cell:filled:even {
    -fx-background-color: transparent;
    -fx-background-radius: 30, 30;

}

.list-cell:filled:odd {
    -fx-background-color: transparent;
    -fx-background-radius: 30, 30;
}

.list-cell:filled:selected {
    -fx-background-color: transparent;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: derive(-ACCENT, 20%);
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: white;
}

.widget_header {
    -fx-font-size: 20px;
    -fx-text-fill: #171717;
    -fx-font-weight: bold;
}

.widget_div {
    -fx-font-size: 18px;
    -fx-text-fill: #171717;
    -fx-font-weight: bold;
}

.widget_text {
    -fx-font-size: 15px;
    -fx-text-fill: #171717;
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: derive(-MAINGREY, 20%);
}

.widget-pane {
     -fx-background-color: derive(-LIGHTGREY, 40%);
     -fx-background-radius: 5, 5;
     -fx-padding: 15 20 20 15;
}

.notes .content{
    -fx-background-color: derive(-LIGHTGREY, 40%);
}

.pane-with-border {
     -fx-background-color: derive(-MAINGREY, 20%);
     -fx-border-color: derive(-MAINGREY, 20%);
     -fx-border-top-width: 1px;
     -fx-padding: 10;
}

.status-bar {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.result-display {
    -fx-background-color: derive(-MAINGREY, 20%);
    -fx-font-size: 12pt;
    -fx-text-fill: derive(-MAINGREY, 20%);
    -fx-font-weight: bold;

}

.status-bar .label {
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #FFBD59;
    -fx-border-width: 2;
    -fx-border-radius: 30, 30 ,30 ,30;
    -fx-background-radius: 30, 30, 30, 30;
    -fx-background-color: derive(-TERTIARY, 20%);
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #FFBD59;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: #FFBD59, #FFBD59;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 30, 30, 30, 30;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-background-color: #010112;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: #010112;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #010112;
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: derive(-LIGHTGREY, 50%);
    /*-fx-background-color: transparent;*/
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

#cardPane {
    -fx-background-color: derive(#1c1c1c, 20%);
    -fx-background-radius: 30, 30;
    -fx-border-width: 0;
    -fx-border-radius:30, 30;
    -fx-padding: 10;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #e3e3e3;
    -fx-background-radius: 30, 30;
    -fx-background-insets: 0;
    -fx-border-color: #e3e3e3;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-border-radius: 30, 30;
    -fx-font-size: 13pt;
    -fx-text-fill: #6e6e6e;
    -fx-font-weight: bold;
}

#clientListView {
    -fx-background-radius: 5, 5;
    -fx-padding: 0 0 0 17;
}

#clientListView .scroll-bar .thumb {
    -fx-background-color: derive(-MAINGREY, 40%);
}

#filterField, #clientListPanel, #clientWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: derive(-LIGHTGREY, 20%);
}

#resultDisplay .scroll-pane {
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#helpContent #commonCommands {
    -fx-font-size: 12pt;
    -fx-font-family: "Consolas";
    -fx-text-fill: #DDDDDD;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 1pt;
}

#helpContent #helpTitle {
    -fx-font-size: 16pt;
}

#helpContent #userGuideUrl {
    -fx-font-size: 11pt;
}

#viewbox {
    -fx-border-radius: 30, 30;
    -fx-background-color: derive(-LIGHTGREY, 30%);
}

#countryNotesScrollPane {
    -fx-background: derive(-LIGHTGREY, 20%);
}
